*
!.gitignore
!*.qak
!**/
!*/resources/**
!it.unibo.finaltask.coapserver/build.gradle
!it.unibo.finaltask.coapserver/src/*.kt
/.metadata/

!it.unibo.finaltask.coapserver/build.gradle
!it.unibo.finaltask.project.detector/build.gradle
!it.unibo.finaltask.project.plasticbox/build.gradle
!it.unibo.finaltask.project.robot/build.gradle
!it.unibo.finaltask.project.robot/basicRobotConfig.pl
!it.unibo.finaltask.project.wroom/build.gradle
!it.unibo.finaltask.project.wroom/basicRobotConfig.pl


!it.unibo.finaltask.project.test/build.gradle
!it.unibo.finaltask.project.test/settings.gradle
!it.unibo.finaltask.project.test/src/**
!it.unibo.finaltask.project.test/test/**
!it.unibo.finaltask.project.test/resources/**
!it.unibo.finaltask.frontend/supports/**
!it.unibo.finaltask.frontend/public/**
!it.unibo.finaltask.frontend/*

!it.unibo.finaltask.robotframe/*
!it.unibo.finaltask.basicrobotcontroller/BasicRobotController/*

!it.unibo.finaltask.requirements/test/**